// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table > tbody > tr > td, .table-striped > tbody > tr > th {
   background-color: #F5F3EE;
}

#intro, #organizers, #description, #topics, #dates, #speakers, #committees, #submission {
  background-size: cover;
}

h1, h2, h3 {
	font-family: "Roboto";
}